@import '~styles/config';

.Verger {
  background: $yellow;
  color: $white;

  :global(.row) {
    @include flex(flex-start, space-between);

    > * {
      width: 100%;

      @include responsive($tabletSmall) {
        max-width: 50%;
        padding-right: 10%;
      }

      @include responsive($desk) {
        padding-right: 15%;
      }

      &:nth-child(1) {
        margin-top:60px;

        @include responsive($tabletSmall) {
          order: 2;
          margin-top: 0;
        }
      }

      &:nth-child(2) {
        margin-top:40px;

        @include responsive($tabletSmall) {
          margin-top: 180px;
          order: 1;
        }

        @include responsive($desk) {
          margin-top: 240px;
        }
      }

      p {
        color: $green;
      }
    }
  }

  &__block {
    h2 {
      strong {
        color:$green;
      }
    }
  }

  &__eco {
    @include responsive($tabletSmall) {
      position: absolute;
      left: 50%;
      bottom: 25%;
      z-index: 10;
    }

    @include responsive($desk) {
      left: 50%;
      transform: translateX(50%);
    }
  }

  &__visual {
    margin-top: 40px;
    margin-bottom: -120px;

    @include responsive($tabletSmall) {
      position: absolute;
      bottom: 0;
      left: 47%;
      width: 50%;
      max-width: 320px;
      transform: translateY(10%);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
