@import '~styles/config';

.Verger {
  background: $yellow;
  color: $white;

  :global(.row) {
    @include flex(flex-start, space-between);

    > * {
      width: 100%;
      max-width: 50%;
      padding-right: 15%;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
        margin-top: 240px;
      }

      p {
        color: $green;
      }
    }
  }

  &__block {
    h2 {
      strong {
        color:$green;
      }
    }
  }

  &__eco {
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 10;
    transform: translateX(50%);
  }

  &__visual {
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 50%;
    max-width: 320px;
    transform: translateY(10%);
  }
}
