@import '~styles/config';

.Offer {

  &__preview {
    background: $white;
    display: block;
    padding: 30px;
    position: relative;
    text-decoration: none!important;
  }

  &__title {
    color:$green;
    @include fluid-type($tabletSmall, $deskXXL, 22px, 22px);
    margin-bottom: 5px;
  }

  &__periode {
    @include flex(center, flex-start);
    color: $yellow;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: $open;
    font-weight: bold;
    letter-spacing: 0.3em;

    @include responsive($deskXL) {
      position: absolute;
      top: 38px;
      right: 30px;
    }

    :global(.arrow) {
      margin:0 10px;

      svg > * {
        fill:$yellow;
      }
    }
  }

  &__content {
    margin-top: 20px;

    p {
      font-size: 1.2rem;
      line-height: 1.8;
      color: $fontGrey;
    }
  }
}
