@import '~styles/config';

.Recrutment {

  &__block {
    padding:0!important;

    > * {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__content {
    h2 {
      strong {
        color:$green;
      }
    }

    p {
      margin-left:52%;
      max-width: 280px;
    }
  }

  &__visual {
    position: absolute;
    top:0;
    right:80px;
    max-width:260px;
    width:21%;
    transform:translateY(-50%);
  }

  &__offers {
    > h3 {
      font-size: 1.4rem;
      display: block;
      margin-bottom: 30px;
      letter-spacing: 0.33em;
      font-family: $open;
      text-transform: uppercase;
      font-weight: bold;
    }

    &+& {
      margin-top: 30px;
    }
  }
}

:global(.Recrutment) {
  background:$yellow;
  color:$white;
}
