@import '~styles/config';

.EcoResponsable {

  &__block{
    background: $green-l;
    color: $white;
    margin-top: 40px;
    text-align: center;

    @include responsive($tabletSmall) {
      width: 380px;
      margin-top: 50px;
      text-align: left;
    }


    :global(.inner) {
      padding:30px 25px;

      @include responsive($tabletSmall) {
        @include flex(flex-start, flex-start);
        flex-wrap: nowrap;
      }
    }

    svg {
      width: 50px;
      margin: 0 auto 30px;

      @include responsive($tabletSmall) {
        margin:0;
      }

      > * {
        fill:$white;
      }
    }
  }

  &__content {
    @include responsive($tabletSmall) {
      margin-left:30px;
    }

    p {
      font-size:1.1rem;
      line-height: 1.6;
    }
  }
}
