@import '~styles/config';

.EcoResponsable {

  &__block{
    background: $green-l;
    color: $white;
    max-width: 380px;

    :global(.inner) {
      padding:30px;
      @include flex(flex-start, flex-start);
      flex-wrap: nowrap;
    }

    svg {
      min-width: 50px;

      > * {
        fill:$white;
      }
    }
  }

  &__content {
    margin-left:30px;

    p {
      font-size:1.1rem;
    }

  }
}
