@import '~styles/config';

:global {
  @import '~styles/base';
}

.App {
  position: relative;
  z-index: 10;

  @include responsive($tabletSmall, max) {
    margin-bottom: 0!important;
  }

  > main, > article {
    position: relative;
    z-index:10;
    min-height: 100vh;
    background: $grey;
    overflow: hidden;

    section {

      > * {
        padding-top: 60px;
        padding-bottom: 60px;

        @include responsive($tabletSmall) {
          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
    }
  }
}
