h1 {
  @include fluid-type($tabletSmall, $deskXXL, 50px, 65px);
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  @include fluid-type($tabletSmall, $deskXXL, 45px, 55px);
  line-height: 1.1;
  font-weight: 500;
  margin-bottom:  40px;
}

h3 {
  font-size:1.4rem;
  line-height: 1.2;
  font-weight:500;
  margin-bottom:20px;
}

p {
  font-size:1.4rem;
  line-height:2;

  strong {
    font-weight:700;
  }
}

.subtitle {
  font-size: 1rem;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.33em;
  font-family: $open;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color:inherit;
}

em {
  font-style:italic;
}

code {
  background:$grey;
  padding:0.25em 0.4em;
  @include rounded(3px);
}
