/* -----
Effects
----- */
.filter{
	@include bg();
	&.black{
		background-color: rgba(black, 0.55);
	}
}

/* -----
Misc
----- */

.hide {
	display: none !important;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left {
	margin-right: auto;
	text-align: left;
}

.right{
	margin-left: auto;
	text-align: right;
}

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* -----
Lazyload
----- */

html:not(.no-js) .lazyload,
html:not(.no-js) .lazyloading {
  opacity: 0;
}

html.no-js img.sr-only {
  display:block;
  top:0; left:0;
  width:100%;
  height:100%;
  clip:inherit;
  object-fit:cover;
}

.lazyloaded {
  position: relative;
  opacity: 1;
  transition: opacity 400ms linear 400ms;
}
