@import '~styles/config';

.About {

  &__container {
    @include flex(flex-start, space-between);

    > * {
      width:100%;
    }
  }

  &__headline {
    @include responsive($tabletSmall) {
      max-width: 37%;
    }

    h2 {
      @include responsive($tabletSmall) {
        max-width: 260px;
      }
    }
  }

  &__content {

    @include responsive($tabletSmall) {
      margin-top: 40px;
      max-width: 63%;
      padding-left: 40px;
    }

    @include responsive($desk) {
      @include flex(flex-start, space-between);
    }

    > * {
      width:100%;

      &:nth-child(1) {
        @include responsive($desk) {
          max-width: 40%;
        }
      }

      &:nth-child(2) {
        @include responsive($desk) {
          max-width: 60%;
          padding-left: 40px;
        }
      }
    }
  }

  &__visual {
    margin-top:40px;
    margin-bottom: -120px;

    @include responsive($tabletSmall) {
      position: absolute!important;
      top: 100%;
      left: 10%;
      width: 25%;
      max-width: 320px;
      transform: translateY(-50%);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
