@import '~styles/config';

.Contact {
  
  background:$yellow;
  
  &__Container{
    @include grid();
  }
  
  .Headline {
    background:red;
    grid-column: span 3;
  }
  
  :global(.Content) {
    grid-column: span 9;
  }
  
}