@import '~styles/config';

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__container {
    @include flex();
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: calc(1220px + 80px + 80px);
  }

  &__containerBig {
    background:red;
  }

  &__flag {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -20px;
    margin-top: -2px;

    svg {
      display: block;
    }
  }
}

.Brand {
  display:inline-block;
  position: relative;
  z-index: 10;
  max-width: 190px;

  img {
    &:global(.menuOpen) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  body:global(.is--MenuOpen) & {
    img {
      @include responsive($menuBreakpoint, max) {
        opacity: 0;
      }
      &:global(.menuOpen) {
        @include responsive($menuBreakpoint, max) {
          opacity: 1;
        }
      }
    }
  }

  &[aria-current="page"] {
    pointer-events: none;
  }
}
