@import '~styles/config';

.Footer {
   position: fixed;
   bottom:0;
   left:50%;
   z-index:1;
   width:100%;
   max-width:1920px;
   transform:translateX(-50%);
   color:$white;

   &__container {
     @include flex();
     justify-content: space-between;
     padding-top:percentage(120/1920);
     padding-bottom:percentage(120/1920);
   }
}

.brand {
  max-width: 190px;
}

.made__by {

   @include flex();
   color:$white;
   text-decoration:none;

   .wkn {
      margin-left: 5px;
      svg {
         display: block;
         width: 20px;
         height: 20px;
         > * {
           fill:$white;
         }
      }
   }
}
