@import '~styles/config';

.HVE {
  text-align: center;
  margin-bottom: 40px;

  &__title {
    @include fluid-type($tabletSmall, $deskXXL, 24px, 36px);
    color: $yellow;
  }

  &__text {
    max-width: 640px;
    margin: 0 auto;

    p {
      line-height: 1.8;
    }
  }

  &__logo {
    position: relative;
    display:block;
    margin:20px auto 0;
    width:145px;

    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      position: absolute;
    }
  }
}
