@import '~styles/config';

.PageHero {
  @include flex(center, center);
  padding-top: 180px;
  padding-bottom: 40px;
  text-align: center;
  min-height: 600px;

  @include responsive($tabletSmall) {
    height: 85vh;
  }

  h1 {
    max-width: 440px;
    margin: 0 auto;
  }

  :global(.Solgan) {
    display:block;
    margin-top:20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $open;
    letter-spacing: 0.33em;
    font-size: 1.15rem;
  }

  :global(.Abricot) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform :translate(-50%, -62%);
    max-width: 250px;
    z-index: -1;

    &:after {
      content:'';
      display:block;
      padding-top:143%;
    }

    svg {
      top:0;
      left:0;
      position: absolute;
      width:100%;
      height:100%;

      > * {
        fill:$yellow;
      }
    }
  }
}
