@import '~styles/config';

.FruitTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  @include fluid-type($tabletSmall, $deskXXL, 90px, 130px);
  color: #EEEBE7;
  letter-spacing: 0.8em;
  transform: translate(-50%, -50%);
  font-family: $open;
  font-weight: bold;
  z-index: -1;
  text-transform: uppercase;
  width: auto;
  white-space: nowrap;
  line-height: 1.2;

  div[data-prllx] {
    position: relative;
    display:block;
  }

  > span {
    display:inline-block;
    position: relative;
    left:50%;
    transform:translateX(-50%);

    > span {
      display:block;
      letter-spacing: 0.5em;

      &:nth-child(1) {
        transform:translateX(-25%);

        :global(.le-kiwi) & {
          transform:translateX(-40%);
        }
      }

      &:nth-child(2) {
        transform:translateX(0%);

        :global(.le-kiwi) & {
          transform:translateX(50%);
        }
      }

      &:nth-child(3) {
        transform:translateX(25%);

        :global(.l-abricot) & {
          transform:translateX(50%);
        }

        :global(.le-kiwi) & {
          transform:translateX(0%);
        }
      }
    }
  }
}
